@import url(/atividade/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
    width: 900px;
    height: 704px;
    background-color: #e49797be;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-dados{
    width: 578px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 10px;
}

.box-logo{
    width: 578px;
    height: 500px;
    background: linear-gradient(180deg, #53B2E8 0%, rgba(65, 210, 184, 0.81) 100%);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-logo{
    width: 200px;
    height: 130px;
    top: 272px;
    left: 144px;

}

.dados{
    display: flex;
    align-items: center;  
}

.dados-entrar{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #787878;
    text-decoration: none;
    padding: 25px;
}

.dados-cadastre{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #787878;
    text-decoration: none;
}

.botao-entrar{
    background: linear-gradient(268.34deg, rgba(125, 211, 205, 0.35) 1.41%, rgba(65, 210, 184, 0.81) 100%);
    box-shadow: 0px 4px 30px rgba(207, 158, 158, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Poppins' sans-serif;
    width: 290px;
    height: 40px;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    border: none;
    margin: 25px;
}

.caixa-login{
    font-family: 'Poppins', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    padding: 10px;
}

.texto-entrar{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
    color: #434242;
}

.texto-login{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #787878;
}

.dados-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}